

.tldr {
    font-size: 25px;
}

.profile-pic {
    height: 350px;
    width: 350px;
}
.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    width: 80%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.OFBC {
    color: slateblue;
    background-color: slategrey;
    height: 30px;
    width: 70px;
}
.somethin-extra {
    text-align: right;
}
.email {
    align-items: center;
    background-color: slategrey;
    color: slateblue;
    height: 40px;
    width: 60px;
}