* {
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tldr {
    font-size: 25px;
}

.profile-pic {
    height: 350px;
    width: 350px;
}
.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}