.h1 {
    margin-top: 20px;
}


.tldr {
    text-align: center;
    font-size: 16px;
    width: 80%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: 300;
    align-items: center;
    color: ivory;


}

.profile-pic {
    height: 350px;
    width: 350px;
}
.about-container {
    margin-top: 30px;
    margin-left: 100px;
    justify-content: center;
    font-size: 18px;
    width: 80%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    background-color: slategray;
    color: ivory;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.OFBC {
    color: hotpink;
    height: 30px;
    width: 70px;
}
.somethin-extra {
    text-align: center;
    color:ivory;
}
.email {
    align-items: center;

    color: hotpink;
    height: 40px;
    width: 60px;
    padding-bottom: 50px;
}