.idashop-header {
    justify-content: left;
    width: 90%;
    display: flex;
    flex-direction: row;
}

.shop-link {
    display: flex;
    height: 100px;
    width: 300px;
    background-color: coral;
    color: ivory;
    margin-left: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    border-radius: 2px;
    border-style: solid black;
}

.shoplink-text {
    color: ivory;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.shop-link:hover {
    background-color: slateblue;
    color: coral;
}

.idashop-bio {
    justify-content: center;
    height: 650px;
    width: 40%;
    background-color: slategray;
    color: ivory;
    font-weight: 400;
    margin-left: 30px;
    margin-right: 20px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    padding-bottom: 100px;
    border: black solid;

}

.takeaways {
    justify-content: right;
    padding-bottom: 30px;
    padding-top: 5px;
    border-radius: 3px;
    border:solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 40%;
    height: 250px;
    margin-right: 20px;
    margin-left: 20px;
}
.takeaway-header {
    border-bottom: 1px solid black;
    list-style: none;
    padding-bottom: 6px;
    font-size: 20px;

}

.idashop-bio .takeaways {
    display: flex;
    flex-direction: row;
}

.takeaway-children {
    padding-left: 20px;
    padding-right: 20px;
    padding: 8px;
    font-size: 18px;
    
}