.idashop-header {
    border-radius: 2px;
    border-bottom: solid black;
    justify-content: left;
    width: 80%;
}
.shop-link {
    height: 80px;
    width: 100px;
    background-color: coral;
    color: ivory;
}
.shop-link:hover {
    background-color: slateblue;
    color: coral;
}
.idashop-bio {
    justify-content: center;
    height: 500px;
    width: 1000px;
    background-color: slategray;
    color: ivory;
    font-weight: 300;
}