.container {
    align-items: center;
    align-content: center;
    margin-top: 20px;
    margin-left: 30px;
}

.resume-container {
    align-self: center;
    align-content: center;
    max-width: 1000px;
    max-height: 1800px;
    
}